button.to-top Наверх
footer.footer
	.container
		a.logo(href="index.html") Mobile-app
		nav.menu-wrap
			.block
				.block__title Android
				ul.menu
					li
						a(href="#") Woo Casino
					li
						a(href="#") Cookie Casino
					li
						a(href="#") Temple Nile
					li
						a(href="#") Betchan
					li
						a(href="#") BobTemple NileBetchan
					li
						a(href="#") Bob
			.block
				.block__title Ios
				ul.menu
					li
						a(href="#") Woo Casino
					li
						a(href="#") Cookie Casino
					li
						a(href="#") Temple Nile
					li
						a(href="#") Betchan
					li
						a(href="#") BobTemple NileBetchan
					li
						a(href="#") Bob
			.block
				.block__title Pc
				ul.menu
					li
						a(href="#") Woo Casino
			.block
				a(href="map.html").block__title Карта сайта
		.social
			.social__title Поделиться:
			ul.social-list
				li
					a(href="#" target="_blank")
						img(src=img+"vk.svg", alt="")
				li
					a(href="#" target="_blank")
						img(src=img+"facebook.svg", alt="")
				li
					a(href="#" target="_blank")
						img(src=img+"odnoklassniki.svg", alt="")
				li
					a(href="#" target="_blank")
						img(src=img+"viber.svg", alt="")
				li
					a(href="#" target="_blank")
						img(src=img+"whatsapp.svg", alt="")
				li
					a(href="#" target="_blank")
						img(src=img+"skype.svg", alt="")
				li
					a(href="#" target="_blank")
						img(src=img+"telegram.svg", alt="")