- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container

			section.apps
				.container
					.text-container
						h1.block-title Мобильные приложения букмекерских контор
					.items
						.item
							.item-left
								.img-wrap
									img.item__img(src=img+"app-img.png", alt="")
									img.item__label(src=img+"app-label.png", alt="")
								.rate
									.rate__text Мобильное приложение "1хBet на андроид
									ul.rate-stars
										li
											img(src=img+"star.svg", alt="")
										li
											img(src=img+"star.svg", alt="")
										li
											img(src=img+"star.svg", alt="")
										li
											img(src=img+"star.svg", alt="")
										li
											img(src=img+"star.svg", alt="")
										li 5 / 5
								.item-left__text Приветственный пакет
							.item-right
								.item-right-block
									.item-right__text Получи бонус до 100€ на первый депозит
									.item-right__text2 Промокод: CORONA
								a.btn1(href="#") Скачать приложение
						.item
							.item-left
								.img-wrap
									img.item__img(src=img+"app-img.png", alt="")
									img.item__label(src=img+"app-label.png", alt="")
								.rate
									.rate__text Мобильное приложение "1хBet на андроид
									ul.rate-stars
										li
											img(src=img+"star.svg", alt="")
										li
											img(src=img+"star.svg", alt="")
										li
											img(src=img+"star.svg", alt="")
										li
											img(src=img+"star.svg", alt="")
										li
											img(src=img+"star.svg", alt="")
										li 5 / 5
								.item-left__text Приветственный пакет
							.item-right
								.item-right-block
									.item-right__text Получи бонус до 100€ на первый депозит
									.item-right__text2 Промокод: CORONA
								a.btn1(href="#") Скачать приложение
						.item
							.item-left
								.img-wrap
									img.item__img(src=img+"app-img.png", alt="")
									img.item__label(src=img+"app-label.png", alt="")
								.rate
									.rate__text Мобильное приложение "1хBet на андроид
									ul.rate-stars
										li
											img(src=img+"star.svg", alt="")
										li
											img(src=img+"star.svg", alt="")
										li
											img(src=img+"star.svg", alt="")
										li
											img(src=img+"star.svg", alt="")
										li
											img(src=img+"star.svg", alt="")
										li 5 / 5
								.item-left__text Приветственный пакет
							.item-right
								.item-right-block
									.item-right__text Получи бонус до 100€ на первый депозит
									.item-right__text2 Промокод: CORONA
								a.btn1(href="#") Скачать приложение
					.block-title Приложения на Android
					.text-container
						p Не заморачивайтесь с ежедневным поиском зеркала, установите удобное мобильное приложение
					.logos
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
					.block-title Приложения на Ios
					.text-container
						p Не заморачивайтесь с ежедневным поиском зеркала, установите удобное мобильное приложение
					.logos
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android
						a(href="#").logo
							img.logo__img_mobile(src=img+"app-img.png", alt="")
							.img-wrap
								img.logo__img(src=img+"logo.svg", alt="")
							.logo__text Мобильное приложение 1xBet на Android

			section.site-block
				.container
					.text-container
						h3 Букмекерские компании представленные в списке отсортированы в порядке убывания рейтинга. Рейтинг был составлен на оценках пользователей и комментариев, собранных по оценкам портала.
						p Если у вас есть есть что добавить о каждом продукие — переходите по кнопке подробнее и оставляйте свои отзывы в приложениях букмекерских компаний! Количество отзывово прямопропорционально влияет на актуальность рейтинга букмекрских компаний.
						p На просторах России и СНГ существует немало различных БК. И на абсолютном большинстве из них поддерживается несколько языковых версий. Однако для русскоязычных игроков очень важно, чтобы была версия именно на родном русском языке.
						p Так же немаловажным фатором является наличие русскоязычной техподдержки. Ведь в случае возникновения спорных ситуаций именно с ней вы будете решать появляющиеся вопросы. Поэтому данный фактор был одним из определяющих при составлении рейтинга. Помимо этого важно, чтобы букмекерская компания поддерживала платежные системы, привычные русскоговорящему игроку.
						p Так как же выбрать подходящую для себя букмекерскую компанию?
						p Один из самых главных факторов для любого игрока - наличие понятной ему, языковой версии сайта.
						p Разработчики и владельцы букмекерских компаний прекрасно понимают, что популярность игровой индустрии растет в РФ и других странах СНГ. Поэтому лучшие русские, европейские и американские порталы уже активно внедряют возможность перевести версию приложения на русский язык.

			section.qa
				.container
					.block-title2 Вопрос - Ответ
					.item
						.item__title Какие бонусы дает использование 1xbet Android?
						.item__text Пользователь получает абсолютно идентичные возможности, которые дает и полная версия сайта, а также существует быстрый доступ к функциям сайта, да и у вас всегда под рукой будет зеркало на случай блокировок сайта.
					.item
						.item__title Какие бонусы дает использование 1xbet Android?
						.item__text Пользователь получает абсолютно идентичные возможности, которые дает и полная версия сайта, а также существует быстрый доступ к функциям сайта, да и у вас всегда под рукой будет зеркало на случай блокировок сайта.
					.item
						.item__title Какие бонусы дает использование 1xbet Android?
						.item__text Пользователь получает абсолютно идентичные возможности, которые дает и полная версия сайта, а также существует быстрый доступ к функциям сайта, да и у вас всегда под рукой будет зеркало на случай блокировок сайта.

			section.comments
				.container
					.block-title Комментарии
					.item
						.item-top
							.item-user
								img.item-user__img(src=img+"comment-img.jpg", alt="")
								.item-user-info
									span 14:55
									span 22.07.2020
									b Станислав Черчесов
							.item__text Вы получаете достойную прибыль по RevShare от 25% и программам CPA за каждого игрока, которого приведете. RevShare пожизненно! На протяжении всей игры приведенных игроков Вы получаете доход! Такое количество отчетов по эффективности ваших рекламных кампаний для букмекерского бизнеса вы больше нигде не найдете.
					.item
						.item-top
							.item-user
								img.item-user__img(src=img+"comment-img.jpg", alt="")
								.item-user-info
									span 14:55
									span 22.07.2020
									b Станислав Черчесов
							.item__text Вы получаете достойную прибыль по RevShare от 25% и программам CPA за каждого игрока, которого приведете. RevShare пожизненно! На протяжении всей игры приведенных игроков Вы получаете доход! Такое количество отчетов по эффективности ваших рекламных кампаний для букмекерского бизнеса вы больше нигде не найдете.
						.item-bottom
							.item-user
								img.item-user__img(src=img+"comment-img2.jpg", alt="")
								.item-user-info
									span 14:55
									span 22.07.2020
									b Поддержка 1хBet
							.item__text Вы получаете достойную прибыль по RevShare от 25% и программам CPA за каждого игрока, которого приведете. RevShare пожизненно! На протяжении всей игры приведенных игроков Вы получаете доход! Такое количество отчетов по эффективности ваших рекламных кампаний для букмекерского бизнеса вы больше нигде не найдете.
					.item
						.item-top
							.item-user
								img.item-user__img(src=img+"comment-img.jpg", alt="")
								.item-user-info
									span 14:55
									span 22.07.2020
									b Станислав Черчесов
							.item__text Вы получаете достойную прибыль по RevShare от 25% и программам CPA за каждого игрока, которого приведете. RevShare пожизненно! На протяжении всей игры приведенных игроков Вы получаете доход! Такое количество отчетов по эффективности ваших рекламных кампаний для букмекерского бизнеса вы больше нигде не найдете.
							a.item__link(href=img+"comment-img3.jpg" data-fancybox="comment-gallery") Посмотреть все изображения
							.item-images
								a.item-images-wrap(href=img+"comment-img3.jpg" data-fancybox="comment-gallery")
									img.item__img(src=img+"comment-img3.jpg", alt="")
								a.item-images-wrap(href=img+"comment-img3.jpg" data-fancybox="comment-gallery")
									img.item__img(src=img+"comment-img3.jpg", alt="")
								a.item-images-wrap(href=img+"comment-img3.jpg" data-fancybox="comment-gallery")
									img.item__img(src=img+"comment-img3.jpg", alt="")
								a.item-images-wrap(href=img+"comment-img3.jpg" data-fancybox="comment-gallery")
									img.item__img(src=img+"comment-img3.jpg", alt="")
								a.item-images-wrap(href=img+"comment-img3.jpg" data-fancybox="comment-gallery")
									img.item__img(src=img+"comment-img3.jpg", alt="")
								a.item-images-wrap(href=img+"comment-img3.jpg" data-fancybox="comment-gallery")
									img.item__img(src=img+"comment-img3.jpg", alt="")
								a.item-images-wrap(href=img+"comment-img3.jpg" data-fancybox="comment-gallery")
									img.item__img(src=img+"comment-img3.jpg", alt="")

		include blocks/footer.pug
		include blocks/scripts.pug